<div class="card col-3 js-review-{{review.id}}">
	<div class="card-body">
		<p>Note :
			<span class="js-rate">{{review.rate}}</span>/5</p>
		<p>Commentaire :</p>
		<p class="js-comment">{{review.comment|raw}}</p>
	</div>
</div>
