<div class="card col col-lg-4 col-xl-3 col-md-6 col-12 p-0 m-2 border-0 bg-info js-review-{{review.id}}">
	<div class="card-body">
		<p>Note :
			<span class="js-rate">{{review.rate}}</span>/5</p>
		<p>Commentaire :</p>
		<p class="js-comment">{{review.comment|raw}}</p>
	</div>
</div>
