<div class="card flex-grow-1 col col-lg-4 col-xl-3 col-md-6 col-12 p-0 m-2">
	{% include "/partials/recipe/_displayImgRecipe.html.twig" %}
	<div class="card-body">
		<h5 class="card-title">
			<a href="{{ path('app_recipe_show', {'id' : recipe.id })}}" class="">{{recipe.title}}</a>
		</h5>
		<p class="card-text">{{recipe.decription|raw}}</p>
	</div>
</div>
