<div class="card m-3" style="width: 18rem;">
	{% include "/partials/recipe/_displayImgRecipe.html.twig" %}
	<div class="card-body">
		<h5 class="card-title">
			<a href="{{ path('app_recipe_show', {'id' : recipe.id })}}" class="">{{recipe.title}}</a>
		</h5>
		<p class="card-text">{{recipe.decription|raw}}</p>
	</div>
</div>
