{% extends 'base.html.twig' %}

{% block title %}Recettes
{% endblock %}

{% block body %}

	<div class="row">
		{% for recipe in recipes %}
			{% include "partials/recipe/_recipeBlock.html.twig" %}
		{% endfor %}
	</div>


{% endblock %}	
