<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}{% endblock %}
			- Coupart Nutrition</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body>

		<!-- test webpack-encore bootstrap file-loader -->
		{% block header %}

			<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
				<div class="col-md-3 mb-2 mb-md-0">
					<a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
						<img src="{{ asset('build/images/logo.png')}}" alt="logo coupart">
					</a>
				</div>

				<ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
					<li>
						<a href="#" class="nav-link px-2 link-secondary">Home</a>
					</li>
					<li>
						<a href="#" class="nav-link px-2">Features</a>
					</li>
					<li>
						<a href="#" class="nav-link px-2">Pricing</a>
					</li>
					<li>
						<a href="#" class="nav-link px-2">FAQs</a>
					</li>
					<li>
						<a href="#" class="nav-link px-2">About</a>
					</li>
				</ul>

				<div class="col-md-3 text-end">
					<button type="button" class="btn btn-outline-primary me-2">Login</button>
					<button type="button" class="btn btn-primary">Sign-up</button>
				</div>
			</header>

		{% endblock %}
		{% block body %}{% endblock %}
	</body>
</html>
